<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: black;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left ">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-white ml-5"><a  class="text-white" href="/">SHIV SHANKAR GUPTA</a></h5>
                <p class="text-white ml-5 "><a  class="text-white" href="https://www.thruskills.com/">@BUILT THRUSKILLS</a>.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-white">link</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="/projects">projects</a>
                    </li>
                    <li>
                        <a class="text-white" href="/blogs">Blog</a>
                    </li>
                    <li>
                        <a class="text-white" href="/about">About</a>
                    </li>
                    <li>
                        <a class="text-white" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-white">Follow US</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="font-size:30px text-white  " href="https://twitter.com/login">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="https://www.facebook.com/">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="https://www.linkedin.com/feed//">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href=""><i class="fab fa-globe"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© shiv shankar gupta (nov-feb 2020)

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->