<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: black;">
    <a class="navbar-brand ml-5" href="/">SHIV SHANKAR GUPTA</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto mr-5">
            <a class="nav-item nav-link active" href="/projects">PROJECT <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/blogs">BLOG</a>
            <a class="nav-item nav-link active" href="/about">ABOUT</a>
            <a class="nav-item nav-link active" href="/contact">CONTACT</a>
        </div>
    </div>
</nav>