<div class="container-fluid mt-2 ">
    <!-- BreadCumb -->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-warning">
            <li class="breadcrumb-item "><a class="text-white" href="/">Home</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">ABOUT</li>

        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3 text-center bg-primary p-3">
            <div class="sidebar-sticky">

                <div class="image">
                    <img src="./images/shiv.png" style="width: 150px;">

                    <ul class="nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link active text-white" href="https://github.com/">
                                <span data-feather="home"></span>
                                Github link<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white"
                                href="https://www.linkedin.com/in/shiv-shankar-shiv-shankar-7044a1197/">
                                <span data-feather="file"></span>

                                Linkdin
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link text-white" href="https://www.facebook.com/">
                                <span data-feather="file"></span>
                                Facebook

                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://twitter.com/login">
                                <span data-feather="file"></span>
                                Twitter

                            </a>
                        </li>
                        <hr>
                        <p class="font-weight-bold text-uppercase text-center" style="color: yellow;">ABOUT THIS PROJECT
                        </p>

                        <li class="nav-item">
                            <hr>
                            <a class="nav-link text-white" href="https://nodejs.org/en/">
                                <span data-feather="shopping-cart"></span>
                                Node.js
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://www.bootstrapcdn.com/">
                                <span data-feather="users"></span>
                                Bootstrap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://expressjs.com/">
                                <span data-feather="bar-chart-2"></span>
                                Express.JS
                            </a>
                        </li>


                </div>
            </div>
        </div>
        <div class="col-md-9 text-white">
            
                <h1>INTRODUCTION</h1>
                <h2>DESCRIPTION</h2>
                <p class="font-size:100px;">
                    hi, my name is shiv shankar gupta.i belong to madhubani in bihar. my father runs small shop in
                    bihar.
                    i am working in the delivery. i have completed to b.com.i have down full stack developer.
                    my hobbice are dance and newspaper reading. my aim in life is to become software engineering.
                </p>


                <h3>ABOUT THIS PROJECT</h3>
                <p style="font-size: 20px;">
                    I created this project starting with creating templetes using handlebars in express
                    generator and required pages using bootstrap.Then I added routes
                    for the respective requests.I added all the projects and blogs content
                    in various collections of a database and connected to it using Mongodb.
                    Contact form was also added with backend validation done on various
                    mentioned conditions using check from express validation module.
                    The data if successfully entered,gets added to a collection in the
                    mongodb database.
                </p>

                <p>I am using.html.css. Bootstrap, Node.js & Express js to build this .mongodv.</p>


                <h3>PROJECT TIMELIMES</h3>
                <p>
                    In this section we will discuss how much
                    time it will take to build this project, followed by a steo by step guide.

                </p>

                <p style="font-size: 20px;"><a class="text-white"
                        href="https://www.w3schools.com/bootstrap4/default.asp">Step 1: Static Portfolio Site - Using
                        Bootstrap 4</a></p>
                <p><a class="text-white" href="https://nodejs.org/en/">Step 2: Rewrite the static site using Node,
                        Express & Handlebars</a>
                </p>
                <p><a class="text-white" href="https://github.com/reactiveui/DynamicData">Step 3: Add some test data to
                        make it look like a
                        dynamic site/a></p>
                <p><a class="text-white" href="/">Step 4: Build all the pages - home, projects, blog, about, contact</a>
                </p>
                <p><a class="text-white" href="https://www.mongodb.com/">Step 5: Design the database using NoSQL &
                        MongoDB</a></p>
            

        </div>
       </div>
      </div>
    