<!DOCTYPE html>
<html>
  <head>
   {{>head}}
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
     <style>
       body{
         background-image: url("./images/image-6.jpeg");
         background-repeat: no-repeat;
         background-size: cover;
       }
      
    </style>

  </head>
  <body>
   

    {{>header}}
    {{{body}}}


    {{>footer}}
  </body>
</html>
